<h1><%= @art.name %></h1>

<ul>
  <li><%= @art.location %></li>
  <li><%= @art.description %></li>
  <% if @art.artist.present? %>
  <li> <%= @art.artist %></li>
  <% end %>
  <li><%= @art.category %></li>
</ul>

<%= link_to "Edit this Entry", edit_art_path %>
<%= link_to "Delete this entry", art_path(@art), method: :delete %>
<%= link_to "Home", arts_path %>
