<h1><%= @art.name %></h1>

<div class="orbit-container">
  <ul class="show-orbit" data-orbit>
    <%= render partial: "photo", collection: @photos %>
  </ul>
</div>

<% if user_signed_in? %>
  <%= render 'new_art' %>
<% else %>
  <%= link_to "Sign in to add photo", new_user_session_path %>
<% end %>

<ul class="art-details">
  <li><%= @art.location %></li>
  <li><%= @art.description %></li>
  <% if @art.artist.present? %>
  <li> <%= @art.artist %></li>
  <% end %>
  <li><%= @art.category %></li>
</ul>

  <% @reviews.each do |review|  %>
    <div class="review">
      <p>Comments: <%= review.body %></p>
      <p> Rating: <%= review.rating %></p>
      <% if user_signed_in? && review.user == current_user %>
        <%= link_to "Edit this Review", edit_review_path(review)%><br>
        <%= link_to "Delete this Review", art_review_path(@art, review), method: :delete %><br>
      <% end %>
    </div>
  <% end %>

  <br>
  <div class="art_actions">
    <% if user_signed_in? %>
      <%= link_to "Add New Review", new_art_review_path(@art)%>
    <% else %>
      <%= link_to 'Sign in to add a new review!', new_user_session_path %>
    <% end %>
    <br>
    <% if user_signed_in? && @art.user == current_user%>
      <%= link_to "Edit this Entry", edit_art_path(@art)%><br>
      <%= link_to "Delete this Entry", art_path(@art), method: :delete %>
    <% end %>
    <br>
    <%= link_to "Home", arts_path %>
  </div>
<%= paginate @reviews %>
