<h1><%= @art.name %></h1>

<div class="orbit-container">
  <ul class="show-orbit" data-orbit>
    <%= render partial: "photo", collection: @photos %>
  </ul>
</div>

<%= form_for [@art, @photo] do |f| %>
  <div class="upload-image">
    <%= f.label :art_photo, 'Photo' %>
    <%= f.file_field :art_photo %>
  </div>

  <div class="upload-image">
    <%= f.label :caption, 'Caption' %>
    <%= f.text_area :caption %>
  </div>

  <div class="upload-image">
    <%= f.submit class: "button round form-button" %>
  </div>
<% end %>

<ul class="art-details">
  <li><%= @art.location %></li>
  <li><%= @art.description %></li>
  <% if @art.artist.present? %>
  <li> <%= @art.artist %></li>
  <% end %>
  <li><%= @art.category %></li>
</ul>

  <% @reviews.each do |review|  %>
    <div class="review">
      <p>Comments: <%= review.body %></p>
      <p> Rating: <%= review.rating %></p>
      <% if review.user == current_user %>
        <%= link_to "Edit this Review", edit_review_path(review)%><br>
        <%= link_to "Delete this Review", art_review_path(@art, review), method: :delete %><br>
      <% end %>
    </div>
  <% end %>

  <br>
  <div class="art_actions">
      <%= link_to "Add New Review", new_art_review_path(@art)%><br>
      <%= link_to "Edit this Entry", edit_art_path %><br>
      <%= link_to "Delete this entry", art_path(@art), method: :delete %><br>
      <%= link_to "Home", arts_path %>
  </div>
