<h1><%= @art.name %></h1>

<div class="small-11 small-centered columns">
  <div class="picture-container">
<!-- <div class="orbit-container">
  <ul class="show-orbit" data-orbit> -->
    <%= render partial: "photo", collection: @photos %>
  <!-- </ul> -->
 </div>
</div>

<div class="row">
  <div class="small-6 small-centered columns border photo-form">
    <% if user_signed_in? %>
      <h2>Add a Photo</h2>
      <%= render 'new_art' %>
    <% else %>
      <%= link_to "Sign in to add a photo", new_user_session_path, class: "tiny button round form-button sign-in-to-add-photo" %>
    <% end %>
  </div>
</div>

<div class="art-details">
  <ul>
    <% if @art.artist.present? %>
    <li><u>Artist:</u> <%= @art.artist %></li>
    <% end %>
    <li><u>Location:</u> <%= @art.location %></li>
    <li><u>Category:</u> <%= @art.category %></li>
    <li><u>Description:</u> <%= @art.description %></li>
  </ul>
</div>

<% @reviews.each do |review|  %>
  <div class="review">
    <% if user_signed_in? %>
      <% if current_user.admin? || review.user == current_user %>
        <ul class="user-specific-content">
          <li><%= link_to "Edit this Review", edit_review_path(review), class: "tiny button round form-button edit-review"%></li>
          <li><%= link_to "Delete this Review", art_review_path(@art, review), method: :delete, class: "tiny button round form-button delete-review" %></li>
        </ul>
      <% end %>
      <div class="vote-buttons">
        <%= button_to pluralize(review.votes.where(upvote: true).count,
          "Upvote"),
          art_path(@art),
          method: 'get',
          class: 'votes up',
          id: "upvote-#{review.id}" %>
        <%= button_to pluralize(review.votes.where(upvote: false).count,
          "Downvote"),
          art_path(@art),
          method: 'get',
          class: 'votes down',
          id: "downvote-#{review.id}" %>
      </div>
    <% else %>
      <%= link_to 'Sign in to upvote or downvote this review!', new_user_session_path %>
    <% end %>
    <ul class="review-content">
      <li>
        <% if review.user.profile_photo? %>
          <%= image_tag review.user.profile_photo_url, class: 'nav-img review-img' %>
        <% else %>
          <%= image_tag '/assets/default_photo.png', class: 'nav-img review-img' %>
        <% end %>
        <%= review.user.first_name %> <%= review.user.last_name %>
      </li>
      <li><strong>Rating:</strong> <%= review.rating %></li>
      <li><strong>Comments:</strong> <%= review.body %></li>
    </ul>
  </div>
<% end %>

<%= paginate @reviews %>

<div class="art_actions">
  <ul class="art-buttons">
    <% if user_signed_in? %>
      <li><%= link_to "Add New Review", new_art_review_path(@art), class: "small button round form-button"%></li>
      <% if current_user.admin? || @art.user == current_user%>
        <li><%= link_to "Edit this Entry", edit_art_path(@art), class: "small button round form-button" %></li>
        <li><%= link_to "Delete this Entry", art_path(@art), method: :delete, class: "small button round form-button" %></li>
      <% end %>
    <% else %>
      <li><%= link_to 'Sign in to add a new review!', new_user_session_path,  class: "small button round form-button" %></li>
    <% end %>
    <li><%= link_to "Home", root_path, class: "small button round form-button" %></li>
  </ul>
</div>

<%= javascript_include_tag "show" %>
