<%= form_for(@photo) do |f| %>
  <div class="field">
    <%= f.label "Upload Image:" %>
    <%= f.file_field :picture %>
  </div>

  <div class="field">
    <%= f.label "Caption:" %>
    <%= f.text_field :caption %>
  </div>

  <div class="actions">
    <%= f.submit "Save Image", class: 'button small round form_button' %>
  </div>

<% end %>
