<h1>New Review for <%= @art.name %> </h1>

<div class="row">
  <div class="small-6 small-centered columns border">
    <%= form_for [@art, @review] do |f| %>
      <div class="field">
        <%= f.label :rating, "Rating"%>
        <%= f.text_field :rating %>
      </div>

      <div class="field">
        <%= f.label :body, "Comments" %>
        <%= f.text_field :body %>
      </div>
      <div class="actions ">
        <%= f.submit class: "button round form-button" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-6 small-centered columns back-link">
    <%= link_to "Back", art_path(@art) %>
  </div>
</div>
