<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "iSpy", root_path %></h1>
    </li>

    <li class="toggle-topbar menu-icon"><a href="/"><span>iSpy</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->

    <ul class="right">
      <li class="has-form">
        <div class="search-bar">
         <%= form_tag("/search", method: 'get') do %>
           <span><%= text_field_tag :query, params[:query] %></span>
           <span class="search-button"><%= submit_tag "Search", :name => nil %></span>
         <% end %>
       </div>
     </li>
      <% if user_signed_in? %>
        <li class="has-dropdown">
         <a href="#">
           <% if current_user.profile_photo? %>
            <%= image_tag current_user.profile_photo_url, class: 'nav-img' %>
          <% end %>
          <%= current_user.full_name %>
        </a>
          <ul class="dropdown">
            <li><%= link_to "Edit Account", edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign In!", new_user_session_path %></li>
        <li><%= link_to "Sign Up Here!", new_user_registration_path %></li>
      <%end%>
    </ul>
  </section>
</nav>
