<!DOCTYPE html>
<html>
<head>
  <title>ReviewSite</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, value| %>
    <%= value %>
  <% end %>

  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Sign Out", '#'%></li>
      <% else %>
        <li><%= link_to "Sign Up Here!", new_user_registration_path%></li>
      <%end%>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
